# NDK BASE
# I've only had success with NDK version 21.4.7075529
# Download it here if needed (use the Linux version): https://github.com/android/ndk/wiki/Unsupported-Downloads#r21e
# If building through WSL, use the WSL pathing (ex: /mnt/c/Android/Sdk/ndk/21.4.7075529)
NDK=~/Android/Sdk/ndk/21.4.7075529
ABI=arm64-v8a
MINSDKVERSION=23
